.sinumerikPanel {
  background-color: whitesmoke;
}
.sinumerikPanelHeadContainer{
  display: table;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.sinumerikPanelHead {
  display: table-cell;
}
.sinumerikPanelCentralContainer {
  display: table;
  position: absolute;
  top: 40px;
  border-collapse: collapse;
}
.sinumerikPanelMain {
  border: #eaeaeb 2px solid;
  display: table-cell;
  overflow: hidden;
}
.sinumerikPanelRight {
  border: #eaeaeb 2px solid;
  display: table-cell;
}
.sinumerikPanelFootContainer {
  display: table;
  position: absolute;
  bottom: 0px;
}

.sinumerikPanelFoot {
  display: table-cell;
}

.sinumerikPanelHeadButton {
  margin-left: 5px;
  background-color: white;
  border: gainsboro 2px solid;
  height: 40px;
  width: 80px;
  transition-duration: 0.2s;
}
.sinumerikPanelHeadButton:hover {
  background-color: gainsboro;
}



.sinumerikPanelHeadButtonSelect {
  margin-left: 5px;
  background-color: gainsboro;
  border: gainsboro 2px solid;
  height: 40px;
  width: 80px;
  transition-duration: 0.2s;
}

.sinumerikPanelHeadButtonSelect:hover {
  background-color: darkgrey;
}

.sinumerikSingleLineDebugFoot {
  position: absolute;
}

.sinumerikSingleLineDebugMain {
  position: absolute;
}



.sinumerikCounturEditFoot {
  position: absolute;
  background-color: #ff8800;
  width: 100px;
  height: 100px;
}

.sinumerikCounturEditMain {
  position: absolute;
  background-color: #ff8800;
  width: 100px;
  height: 100px;
}

.sinumerikFootButton {
  background-color: white;
  border: gainsboro 2px solid;
  height: 40px;
  width: 60px;
  transition-duration: 0.2s;
  margin-left: 5px;
  margin-top: 6px;
}
.sinumerikFootButton:hover {
  background-color: gainsboro;
}