.sinumerikPanel {

}
.sinumerikPanelHeadContainer{
  display: table;
}

.sinumerikPanelHead {
  background-color: bisque;
  display: table-cell;
}
.sinumerikPanelCentralContainer {
  display: table;
}
.sinumerikPanelMain {
  background-color: coral;
  display: table-cell;
}
.sinumerikPanelRight {
  background-color: aquamarine;
  display: table-cell;
}
.sinumerikPanelFootContainer {
  display: table
}

.sinumerikPanelFoot {
  background-color: cornsilk;
  display: table-cell;
}